body {
  /* Don't allow selection of text */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.App {
  // text-align: center;

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.main {
  height: 100%;
  // display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;

  .topbar {
    // padding: 4px;
    // display: flex;
    // flex-direction: row;
    // grid-column: 1;
    // grid-row: 1;
    // align-items: center;
    // justify-content: space-evenly;

    .autocomplete {
      width: 100%;
      margin: 10px;
    }

    .course-selector {
      width: 50% !important;
    }
  }

  .schedules {
    // height: 100%;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: row;
  }
}

.alerts {
  display:none;
}

.clickable {
  cursor: pointer;
}

.selected {
  color: red;
}

// Remove color from current day of week
.fc-day-today {
  background-color:inherit !important;
}

// Allow break spaces in event's title
.fc-event-title {
    white-space: break-spaces;
}

.fc-timegrid-event-harness {
  cursor: pointer;
}

// Reset
ul {
  margin: 0;
}